name: <%= @name %>
scope: <%= @scope %>
log:
  level: <%= @log_level.upcase %>
consul:
<% @consul.each do |name, value| %>
  <%= name %>: <%= value %>
<% end %>
postgresql:
  bin_dir: <%= "#{node['package']['install-dir']}/embedded/bin" %>
  data_dir: <%= File.join(@postgresql_defaults['dir'], 'data') %>
  config_dir: <%= File.join(@postgresql_defaults['dir'], 'data') %>
  listen: <%= @postgresql_defaults['listen_address'] %>:<%= @postgresql_defaults['port'] %>
  connect_address: <%= @connect_address %>:<%= @postgresql_defaults['connect_port'] %>
  use_unix_socket: true
  parameters:
    unix_socket_directories: <%= @postgresql_defaults['unix_socket_directory'] %>
  authentication:
    superuser:
      username: <%= account_helper.postgresql_user %>
    replication:
      username: <%= @postgresql_defaults['sql_replication_user'] %>
<% if @replication_password %>
      password: <%= "#{@replication_password}" %>
<% end %>
  basebackup:
    - no-password
  remove_data_directory_on_rewind_failure: <%= @remove_data_directory_on_rewind_failure %>
  remove_data_directory_on_diverged_timelines: <%= @remove_data_directory_on_diverged_timelines %>
bootstrap:
  dcs: <%= patroni_helper.dynamic_settings.to_json %>
  method: gitlab_ctl
  gitlab_ctl:
    command: /opt/gitlab/bin/gitlab-ctl patroni bootstrap --srcdir=<%= File.join(@dir, 'data') %>
restapi:
  listen: <%= @listen_address %>:<%= @port %>
  connect_address: <%= @connect_address %>:<%= @connect_port %>
  <% if @username %>
  authentication:
    username: <%= @username %>
    password: <%= "#{@password}" %>
  <% end %>
